.git
.config/gcloud/logs/
.config/nvim/.venv/
/.config/gcloud/.last_update_check.json
/.config/gcloud/.metricsUUID
/.config/gcloud/access_tokens.db
/.config/gcloud/cache/
/.config/gcloud/config_sentinel
/.config/gcloud/credentials.db
/.config/gcloud/default_configs.db
/.config/gcloud/legacy_credentials/
/.config/github-copilot/auth.db
/.config/github-copilot/auth.db-shm
/.config/github-copilot/auth.db-wal
/.config/opencode/cli.json
/.config/opencode/herdr-opencode/
/.config/opencode/herdr-tui-session.js
/.config/opencode/plugins/
/.config/opencode/tui.jsonc
/.config/gcloud/.last_survey_prompt.yaml
/.config/gcloud/configurations/config_default
/.config/gcloud/gce
/.config/nvim/a.py
/.config/nvim/lazy-lock.json
